@import './reset.css';

/* Light mode */
:root {
  --neutral-lowest: #f5f5f4ff;
  --neutral-lower: #e7e5e4ff;
  --neutral-low: #d6d3d1ff;
  --neutral-low-opacity: #d6d6d1cc;
  --neutral-medium: #a8a29eff;
  --neutral-hight: #78716cff;
  --neutral-highter: #57534eff;
  --neutral-hightest: #000000ff;
  --primary-lowest: #eef2ffff;
  --primary-lower: #e0e7ffff;
  --primary-low: #a5b4fcff;
  --primary-medium: #6366f1ff;
  --primary-hight: #372dafff;
  --primary-highter: #312e81ff;
  --primary-hightest: #1e1b4bff;
  --secondary-lowest: #faf5ffff;
  --success-lowest: #ecfdf5ff;
  --success-lower: #d1fae5ff;
  --success-low: #6ee7b7ff;
  --success-medium: #10b981ff;
  --success-hight: #047857ff;
  --success-highter: #064e3bff;
  --success-hightest: #022c22ff;
  --secondary-lower: #f3e8ffff;
  --secondary-low: #d8b4feff;
  --secondary-medium: #a855f7ff;
  --secondary-hight: #7e22ceff;
  --secondary-highter: #581c87ff;
  --secondary-hightest: #3b0764ff;
  --danger-lowest: #fef2f2ff;
  --danger-lower: #fee2e2ff;
  --danger-low: #fca5a5ff;
  --danger-medium: #ef4444ff;
  --danger-hight: #b91c1cff;
  --danger-highter: #7f1d1dff;
  --danger-hightest: #450a0aff;
  --warning-lowest: #fff7edff;
  --warning-lower: #ffedd5ff;
  --warning-low: #fdba74ff;
  --warning-medium: #f97316ff;
  --warning-hight: #c2410cff;
  --warning-highter: #7c2d12ff;
  --warning-hightest: #431407ff;
  --sdg-1: #e5233dff;
  --sdg-2: #dda73aff;
  --sdg-3: #4ca146ff;
  --sdg-4: #c7212fff;
  --sdg-5: #ef402dff;
  --sdg-6: #27bfe6ff;
  --sdg-7: #fbc412ff;
  --sdg-8: #a31c44ff;
  --sdg-9: #f26a2eff;
  --sdg-10: #e01483ff;
  --sdg-11: #f89d2aff;
  --sdg-12: #bf8d2cff;
  --sdg-13: #407f46ff;
  --sdg-14: #1f97d4ff;
  --sdg-15: #59ba47ff;
  --sdg-16: #136a9fff;
  --sdg-17: #14496bff;
  --sdg-default: #8f67a2ff;
  --hover-selected: #d93317ff;
  --hover-button: #0262caff;
  --blur-background: 25px;
  --opened: false;
  --opened-sdg: false;
}

/* Dark mode */
.dark {
  --neutral-lowest: #1c1917ff;
  --neutral-lower: #292524ff;
  --neutral-low: #44403cff;
  --neutral-low-opacity: #44403ccc;
  --neutral-medium: #57534eff;
  --neutral-hight: #d6d3d1ff;
  --neutral-highter: #e7e5e4ff;
  --neutral-hightest: #f5f5f4ff;
  --primary-lowest: #1e1b4bff;
  --primary-lower: #3730a3ff;
  --primary-low: #4f46e5ff;
  --primary-medium: #818cf8ff;
  --primary-hight: #a5b4fcff;
  --primary-highter: #e0e7ffff;
  --primary-hightest: #eef2ffff;
  --secondary-lowest: #3b0764ff;
  --success-lowest: #022c22ff;
  --success-lower: #065f46ff;
  --success-low: #059669ff;
  --success-medium: #34d399ff;
  --success-hight: #6ee7b7ff;
  --success-highter: #d1fae5ff;
  --success-hightest: #ecfdf5ff;
  --secondary-lower: #6b21a8ff;
  --secondary-low: #9333eaff;
  --secondary-medium: #c084fcff;
  --secondary-hight: #d8b4feff;
  --secondary-highter: #f3e8ffff;
  --secondary-hightest: #faf5ffff;
  --danger-lowest: #450a0aff;
  --danger-lower: #991b1bff;
  --danger-low: #dc2626ff;
  --danger-medium: #f87171ff;
  --danger-hight: #fca5a5ff;
  --danger-highter: #fee2e2ff;
  --danger-hightest: #fef2f2ff;
  --warning-lowest: #431407ff;
  --warning-lower: #9a3412ff;
  --warning-low: #ea580cff;
  --warning-medium: #fb923cff;
  --warning-hight: #fdba74ff;
  --warning-highter: #ffedd5ff;
  --warning-hightest: #fff7edff;
  --sdg-1: #e5233dff;
  --sdg-2: #dda73aff;
  --sdg-3: #4ca146ff;
  --sdg-4: #c7212fff;
  --sdg-5: #ef402dff;
  --sdg-6: #27bfe6ff;
  --sdg-7: #fbc412ff;
  --sdg-8: #a31c44ff;
  --sdg-9: #f26a2eff;
  --sdg-10: #e01483ff;
  --sdg-11: #f89d2aff;
  --sdg-12: #bf8d2cff;
  --sdg-13: #407f46ff;
  --sdg-14: #1f97d4ff;
  --sdg-15: #59ba47ff;
  --sdg-16: #136a9fff;
  --sdg-17: #14496bff;
  --sdg-default: #8f67a2ff;
  --hover-selected: #d93317ff;
  --hover-button: #0262caff;
  --blur-background: 25px;
  --opened: false;
  --opened-sdg: false;
}

/* Global styles */
html {
  font-family: 'Inter', sans-serif;
}
