@import './reset.css';

/* Variables */
:root {
  --primary-color: #3d5a3e;
  --secondary-color: #588157;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ff7f07;
  --danger-color: #dc3545;
  --light-color: #dbd8cf;
  --dark-color: #1c1917;

  --primary-text-color: #212529;
  --secondary-text-color: #ffffff;
  --danger-text-color: #500f15;
}

/* Global */
body {
  color: var(--primary-text-color);
  background-color: var(--light-color);
}

body.dark {
  color: var(--secondary-text-color);
  background-color: var(--dark-color);
}
